@page
@model CRUD_DEMO.Pages.Clients.EditModel
@{
}
<h2>Update New Client</h2>
@if (Model.errorMessage.Length > 0)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>@Model.errorMessage</strong>
        <button class="btn-close" type="button" data-bs-dismiss="alert"></button>
    </div>
}
else if (Model.successMessage.Length > 0)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>@Model.successMessage</strong>
        <button class="btn-close" type="button" data-bs-dismiss="alert"></button>
    </div>
}
<form method="post">
    <input type="hidden" name="id" value="@Model.client.id" />
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Name</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="name" value="@Model.client.name">
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Email</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="email" value="@Model.client.email" />
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Phone</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="mobile" value="@Model.client.mobile" />
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Address</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="address" value="@Model.client.address" />
        </div>
    </div>

    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-3 d-grid">
            <button type="submit" class="btn btn-primary btn-sm">Submit</button>
        </div>
        <div class="col-sm-3 d-grid">
            <button type="button" class="btn btn-primary btn-sm">Cancel</button>
        </div>
    </div>
</form>